:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;

  --line-height: 1.4;
}

.banners .item {
  position: relative;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
}
.banners .image {
  text-align: right;
}
.banners .get-gray {
  background-color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .banner .row {
    flex: 0 0 50%;
  }
}
