:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;

  --line-height: 1.4;
}

.banners .item {
  position: relative;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
}
.banners .image {
  text-align: right;
}
.banners .get-gray {
  background-color: var(--border-color);
}

.banners :where(.text-content, .over-link) {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--percent100);
  height: var(--percent100);
}
.banners .text-content {
  padding: 1.5em 2.5em;
}
.banners h3 {
  font-size: calc(1em + 0.5vh);
  font-weight: var(--fw3);
}
.banners h3 span {
  font-size: 80%;
}
.banners .primary-button {
  z-index: 3;
}
.banners .product-categories .item {
  display: flex;
  padding: 1.5em;
}
.banners .product-categories .image {
  max-width: 150px;
}
.mini-links ul {
  font-size: var(--font-small);
  color: var(--light-text-color);
  margin-top: 1em;
}
.banners .second-links {
  margin-top: 2em;
}
.mini-links li a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .banner .row {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 992px) {
  .product-categories .row {
    flex: 0 0 33.3333%;
  }
}
