:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;

  --line-height: 1.4;
}
.newsletter {
  padding: 2.5em;
  background-color: var(--dark-color);
  color: var(--white-color);
}
.newsletter h3 {
  font-size: 1.5em;
}
.newsletter p {
  font-weight: var(--fw3);
  color: var(--border-color);
  margin: 0.5em 0 1.5em;
}
.newsletter p strong {
  color: var(--primary-color);
}
.newsletter form {
  max-width: 500px;
  width: var(--percent100);
}

/* b. widgets */
.widgets {
  padding: 3.5em 2.5em;
  background-color: var(--light-bg-color);
}
/* c. Footer Info */
.footer-info {
  padding: 3.5em 0 5em;
}
.footer-info .wrapper .flexcol {
  align-items: center;
  gap: 0;
}
.footer-info ul li a {
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--light-bg-color);
  border-radius: var(--percent50);
  margin: 0.25em;
  transition: var(--trans-background);
}
.footer-info ul li a:hover {
  background-color: var(--border-color);
}
.footer-info .logo a {
  margin: 0 0 1em -0.75em;
}
.footer-info .mini-text {
  margin-top: 2em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .widgets .row {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 992px) {
  .widgets .row {
    flex: 0 0 25%;
  }
  .newsletter .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
